@model DeveloperTask.DAL.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4><b>Category</b></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate) (UTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt) (UTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>
@if (Model.SubCategories.Any())
{
    <h4><b>Sub Categories</b></h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate) (UTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt) (UTC)
            </th>
        </tr>

        @foreach (var item in Model.SubCategories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
            </tr>
        }

    </table>
}
@if (Model.Reminders.Any())
{
    <h4><b>Reminders</b></h4>

    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Date
            </th>
            <th>
                Category
            </th>
            <th>
                Sub Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate) (UTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt) (UTC)
            </th>
        </tr>

        @foreach (var item in Model.Reminders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
            </tr>
        }

    </table>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
